/* ##### Variables ##### */
/* Colors */
/*  ########## ########## ########## ##########*/
/* Spacing */
/* Columns Padding */
/*  ########## ########## ########## ##########*/
/* Typography */
/*  ########## ########## ########## ##########*/
/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: Baskerville, serif; }

li {
  list-style: none; }

a {
  font-size: 1.6rem;
  transition: 300ms; }
  a:hover {
    color: #B05258; }

label {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  margin-bottom: 8px; }
  @media only screen and (min-width: 600px) {
    label {
      font-size: 1.8rem; } }

input[type='text'], [type='number'], [type='email'] {
  font-family: 'Montserrat', sans-serif; }

button {
  background-color: transparent;
  border: none;
  font-family: 'Baskerville', serif;
  font-size: 1.6rem;
  cursor: pointer; }

textarea {
  font-family: 'Montserrat', sans-serif; }

::placeholder {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  color: #323232; }

h1 {
  font-size: 3.2rem;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }
  @media only screen and (min-width: 1366px) {
    h1 {
      font-size: 6.4rem; } }

h2 {
  font-size: 2.4rem;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1366px) {
    h2 {
      font-size: 4.8rem; } }

h3 {
  font-size: 2rem;
  font-weight: 400; }
  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 2.4rem; } }

p {
  font-size: 1.6rem;
  font-weight: 400; }
  @media only screen and (min-width: 600px) {
    p {
      font-size: 1.8rem; } }

.product-card {
  width: 274px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 32px; }
  .product-card h3 {
    font-weight: 600; }
  .product-card-image {
    position: relative; }
    .product-card-image:before {
      content: '';
      position: absolute;
      width: 274px;
      height: 274px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #F1F1F1; }
  .product-card-favorite {
    position: absolute;
    top: 16px;
    right: 16px; }
  .product-card-image img {
    width: 274px;
    margin-bottom: 8px;
    mix-blend-mode: multiply; }
  .product-card-description {
    display: flex;
    justify-content: space-between; }
  .product-card-info {
    text-align: left; }
  .product-card-name {
    margin-bottom: 4px;
    font-weight: bold; }
  .product-card-purchase {
    display: flex;
    flex-direction: column;
    margin-top: 12px; }
    .product-card-purchase .purchase-btn {
      width: 100%;
      height: 40px;
      background-color: #B05258;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      font-family: 'Baskerville', serif;
      font-size: 1.6rem;
      cursor: pointer; }
    .product-card-purchase .cart-btn {
      width: 100%;
      height: 40px;
      background-color: #B05258;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      font-family: 'Baskerville', serif;
      font-size: 1.6rem;
      cursor: pointer;
      background-color: #F1F1F1;
      color: #323232;
      margin-bottom: 8px; }

.header {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #F1F1F1; }
  @media only screen and (min-width: 768px) {
    .header {
      padding: 0 72px; } }
  @media only screen and (min-width: 1366px) {
    .header {
      padding: 0 144px; } }
  .header-logo {
    margin-bottom: 32px; }
  .header .hamb-menu-btn {
    border: none;
    background-color: transparent; }
    @media only screen and (min-width: 1024px) {
      .header .hamb-menu-btn {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .header {
      padding-top: 64px;
      padding-bottom: 64px; } }
  .header .nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 1024px) {
      .header .nav {
        flex-direction: row;
        gap: 64px; } }
    .header .nav--list-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      background: white;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      transition: 300ms;
      transform: translateY(-100%); }
      @media only screen and (min-width: 1024px) {
        .header .nav--list-menu {
          position: static;
          transform: translateY(0);
          background-color: transparent;
          flex-direction: row;
          gap: 64px; } }
    .header .nav--list .close-menu {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 32px; }
      @media only screen and (min-width: 1024px) {
        .header .nav--list .close-menu {
          display: none; } }
    .header .nav--list .show-menu {
      transform: translateY(0); }
