/* ##### Variables ##### */

/* Colors */
$clr-main-color: #B05258;
$clr-main-color-darker: #753236;
$clr-secondary-color: #E5BD95;
$clr-dark-color: #323232;
$clr-gray-placeholder: #909090;
$clr-gray-color: #E5E5E5;
$clr-white-color: #FFFFFF;
$clr-gray-bg: #F1F1F1;

/*  ########## ########## ########## ##########*/


/* Spacing */
$spacing-var: 8px;

$spacing-sections-x-small: $spacing-var * 3;
$spacing-sections-small: $spacing-var * 4;
$spacing-sections-medium: $spacing-var * 6;
$spacing-sections-x-medium: $spacing-var * 8;
$spacing-sections-large: $spacing-var * 10;

/* Columns Padding */

$columns-padding-mobile: 0 24px;
$columns-padding-tablet: 0 72px;
$columns-padding-desktop: 0 144px;

/*  ########## ########## ########## ##########*/


/* Typography */

$fs-main-title: 7.2rem;
$fs-secondary-titles: 4.8rem;
$fs-tertiary-titles: 3.2rem;
$fs-buttons: 2rem;
$fs-links: 1.6rem;
$fs-copy: 1.6rem;
$fs-small: 1.4rem;

/*  ########## ########## ########## ##########*/


/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');